.card-column {
    display: flex;
    flex-direction: column;
    width: 200px;

    margin: 20px 10px;
}

.card-column h2 {
    text-align: center;
}

.card-column-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}