[data-theme='dark'] {
    --css-color: white; /* #2b2b38*/
}

[data-theme='light'] {
    --css-color: #2b2b38;
}

.c--da4453 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

@media screen and (max-width: 996px) {
    .c--da4453 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 10px 0 80px 0;
    }
}

.c--da4453 h1 {
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-style: normal;
    font-size: 32px;
    margin: 0;
    padding: 37px 0 25px 0;
    font-weight: 600;
}
.c--da4453 h1 span {
    position: relative;
    font-style: normal;
    display: inline;
    margin-right: 3px;
    padding: 0;
}
.c--da4453 h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: white;
}
.c--da4453 h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.c--da4453 p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: justify;
    margin: 0;
    padding: 0;
    color: #959595;
}
.c--da4453 a {
    text-decoration: none;
    color: inherit;
}
.c--da4453 hr {
    border: none;
    height: 1px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.c--da4453 .sections {
    width: 50%;
    margin-left: 20px;
}

@media screen and (max-width: 996px) {
    .c--da4453 .sections {
        width: 90%;
        margin-left: 0;
    }
}
.c--da4453 .section {
    position: relative;
    width: 100%;
    padding: 0;
}
.c--da4453 .section p {
    display: block;
    font-style: normal;
    line-height: 16px;
}
.c--da4453 .section:last-child {
    border: none;
}
.c--da4453 .section.section--summary {
    top: -10px;
    margin-bottom: 10px;
}
.c--da4453 .section--title {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 0 0 0;
    font-weight: 600;
    padding: 18px 0 10px 10px;
    border-top: 1px solid var(--css-color);
    page-break-inside: avoid;
}
.section--title span {
    display: inline-block;
    margin-right: 2px;
}
.section--title-icon {
    position: relative;
    top: 0;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: -15px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--css-color);
}
.section--title-icon svg {
    position: relative;
    top: 3px;
    left: 4px;
    height: 20px;
    width: 20px;
    fill: var(--css-color);
}
.section--title-icon.education svg {
    top: 4px;
    left: 4px;
}
.section--title-icon.course svg {
    top: 5px;
    left: 5px;
}
.section--title-icon.work svg {
    top: 4px;
    left: 5px;
}
.section--title-icon.internships svg {
    top: 4px;
    left: 5px;
}
.section--title-icon.certificate svg {
    top: 4px;
    left: 5px;
}
.section--title-icon.single-textarea svg {
    top: 4px;
    left: 5px;
}
.section--title-icon.extra-curricular svg {
    top: 4px;
    left: 5px;
}
.section--title-icon.characteristic svg {
    top: 4px;
    left: 5px;
}
.section--title-icon.skill svg {
    top: 4px;
    left: 5px;
}
.section--title-icon.hobby svg {
    top: 5px;
    left: 5px;
}
.section--title-icon.language svg {
    top: 5px;
    left: 5px;
}
.section--title-icon.reference svg {
    top: 5px;
    left: 5px;
}
.section--time-line-overlay {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 1px;
}
.section--time-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: var(--css-color);
}
.section--time-line-hide-overlay {
    display: none;
    position: absolute;
    left: -5px;
    top: 25px;
    width: 10px;
    height: 100%;
    z-index: 3;
}
.section.references .section--time-line-dot {
    top: 15px;
}
.section.references .section--date {
    top: 10px;
}
.section.references .section--time-line-hide-overlay {
    height: 95%;
}
.section--item:last-child {
    padding-bottom: 14px;
}
.section--item:last-child .section--time-line {
    height: 30px;
}
.section--item:last-child .section--time-line-hide-overlay {
    display: inline;
}
.section:last-child .section--item:last-child {
    padding-bottom: 0;
}
/*.section:last-child .section--item:last-child .section--heading-group {
padding-bottom: 0;
}*/
.section--time-line-dot {
    position: absolute;
    left: -4px;
    top: 16px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid var(--css-color);
}
.section--heading-group {
    display: block;
    margin: 0;
    padding: 0 0 6px 0;
    page-break-inside: avoid !important;
}
.section--list {
    display: block;
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
}
.section--list.skills {
    margin-bottom: 20px;
}
.section--list.no-indent .section--item {
    padding-left: 20px;
}
.section--item {
    display: block;
    position: relative;
    list-style: none;
    padding: 0 0 0 140px;
    margin: 0;
}

@media screen and (max-width: 996px) {
    .section--item {
        padding: 0 0 0 80px;
    }
}

.section--item.skills {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 0;
    width: 100%;
    margin: 0;
    padding-left: 25px;
    border-left: 1px solid var(--css-color);
}
.section--item.skills h3 {
    font-size: 13px;
}
.section--item.skills:last-child {
    padding-bottom: 0;
}
.skills--label {
    display: inline-block;
    width: 175px;
    margin: 0 0 0 -5px;
}
.skills--stars {
    display: inline-block;
    position: relative;
    top: 4px;
}
.skills--stars svg {
    fill: #b1b1b1;
}
.skills--stars svg.active {
    fill: var(--css-color);
}
.section--date {
    position: absolute;
    left: 15px;
    top: 12px;
    width: 120px;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 996px) {
    .section--date {
        width: 65px;
    }
}

.section--heading {
    display: block;
    padding: 10px 0 0 0;
    margin: 0;
}
.section--sub-heading {
    display: block;
    padding: 0;
    margin: 0;
    color: #a43d46;
    font-size: 13px;
}
.section--content {
    display: block;
    padding: 0;
    margin: 0;
}
.section--content p {
    display: block;
}
.section--content ul, .section--content ol {
    page-break-inside: auto;
    white-space: normal;
    font-weight: 400;
    list-style-position: outside;
    color: var(--css-color);
    margin: 0;
    padding: 0 0 0 16px;
}
.section--content ul li, .section--content ol li {
    line-height: 18px;
}
.section--content ul li {
    list-style-type: disc;
}
.section--content ol {
    padding-left: 14px;
}
.section--content-single-textarea {
    padding-bottom: 10px;
}
.c--da4453 .sidebar--bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 18000px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.c--da4453 .sidebar {
    z-index: 1;
    padding: 25px 0 0 14px;
    width: 15%;
}

@media screen and (max-width: 996px) {
    .c--da4453 .sidebar {
        margin-top: 20px;
        width: 90%;
    }
}

.c--da4453 .avatar--bg {
    left: -10px;
    top: -70px;
    position: fixed;
    z-index: 0;
    margin: 0;
    padding: 0;
    background: #a43d47;
    width: 225px;
    height: 270px;
    display: none;
}
.c--da4453 .avatar {
    position: relative;
    display: inline-block;
    z-index: 2;
    padding: 0;
    margin: 0 0 0 20px;
    height: 145px;
    width: 145px;
    border-radius: 50%;
    background-size: cover !important;
    border: 2px solid #fff;
}
.sidebar--data {
    display: block;
    margin-top: 10px;
    margin-bottom: 17.5px;
}
.sidebar--title {
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    position: relative;
    width: 88%;
    padding: 20px 0 5px 0;
    margin: 0 0 0 0;
    page-break-inside: avoid;
    letter-spacing: 0.08em;
}
.sidebar--title span {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-style: normal;
    padding-right: 2px;
    z-index: 1;
    background: #607d8b;
}
.sidebar--title span:last-child {
    padding-right: 10px;
}
.sidebar--title hr {
    position: absolute;
    left: 0;
    bottom: 18px;
    border: none;
    height: 1px;
    width: calc(100% - 10px);
    background: #fff;
}
.sidebar--title svg {
    position: relative;
    top: 4px;
    margin-right: 4px;
}
.sidebar--label {
    font-weight: 600;
}
.sidebar--list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar--item {
    display: block;
    list-style: none;
    position: relative;
    font-size: 12px;
    margin: 0;
    padding: 0 5px 5px 0;
}
.sidebar--item.sidebar--item-personal {
    padding: 0 5px 5px 23px;
}
.sidebar--item.sidebar--item-interest {
    padding-left: 12px;
    padding-bottom: 0;
}
.sidebar--item:last-child {
    padding-bottom: 0;
}
.sidebar--icon-square {
    display: inline-block;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 9px;
    margin: 0 5px 0 0;
    background: var(--css-color);
    left: 0;
}
.sidebar--item-icon {
    top: 2px;
    left: -8px;
    position: absolute;
    height: 15px;
    fill: var(--css-color);
}
.sidebar--item-text {
    line-height: 21px;
}
.sidebar--item-align-right {
    float: right;
    margin-right: 10px;
}
.c--434a54 .sidebar--bg,
.c--434a54 .sidebar--title span {
    background: #434a54 !important;
}
.c--434a54 .section--sub-heading {
    color: #757575;
}
.c--434a54 .skills--stars svg {
    fill: #434a54 !important;
}
.c--434a54 .skills--stars svg:not(.active) {
    opacity: 0.4;
}
.c--da4453 .section--sub-heading {
    color: #a43d46;
}
.c--da4453 .skills--stars svg {
    fill: #da4453 !important;
}
.c--da4453 .skills--stars svg:not(.active) {
    opacity: 0.4;
}
.c--3f6592 .sidebar--bg,
.c--3f6592 .sidebar--title span {
    background: #3f6592 !important;
}
.c--3f6592 .section--sub-heading {
    color: #3f6592;
}
.c--3f6592 .skills--stars svg {
    fill: #3f6592 !important;
}
.c--3f6592 .skills--stars svg:not(.active) {
    opacity: 0.4;
}
.c--f1b230 .sidebar--bg,
.c--f1b230 .sidebar--title span {
    background: #f1b230 !important;
}
.c--f1b230 .section--sub-heading {
    color: #986c14;
}
.c--f1b230 .skills--stars svg {
    fill: #f1b230 !important;
}
.c--f1b230 .skills--stars svg:not(.active) {
    opacity: 0.4;
}
.c--37bc9b .sidebar--bg,
.c--37bc9b .sidebar--title span {
    background: #37bc9b !important;
}
.c--37bc9b .section--sub-heading {
    color: #187d64;
}
.c--37bc9b .skills--stars svg {
    fill: #37bc9b !important;
}
.c--37bc9b .skills--stars svg:not(.active) {
    opacity: 0.4;
}

.c--da4453 strong { white-space: nowrap; }